{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

{% if section.settings.full_width %}
  <style>
    header.header {
      max-width: unset !important;
      background-color: white;
    }
  </style>
{% endif %}

<nav class='header__inline-menu'>
  <ul class='twcss-flex twcss-gap-4 twcss-items-center twcss-list-none' role='list'>
    {%- for link in section.settings.menu.links -%}
      {% comment %} ! Link highlighting {% endcomment %}
      {% assign highlighted_text = '' %}
      {% if link.title contains '--highlighted-red' %}
        {% assign highlighted_text = '--highlighted-red' %}
      {% elsif link.title contains '--highlighted' %}
        {% assign highlighted_text = '--highlighted' %}
      {% endif %}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id='Details-HeaderMenu-{{ forloop.index }}' class='mega-menu'>
              <summary
                id='HeaderMenu-{{ link.handle }}'
                class='header__menu-item list-menu__item link focus-inset'
              >
                <span
                  class='{{ highlighted_text }} {%- if link.child_active %}header__active-menu-item{% endif %}'
                >
                  {{- link.title | remove: highlighted_text | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <div
                id='MegaMenu-Content-{{ forloop.index }}'
                class='mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup'
                tabindex='-1'
              >
                {% comment %} title {% endcomment %}
                <h3 class='mega-menu__title'>
                  {{ link.title | remove: highlighted_text | escape }}
                </h3>

                <ul
                  class='mega-menu__list {% if link.levels == 1 %} mega-menu__list--condensed{% endif %}'
                  role='list'
                >
                  {%- for childlink in link.links -%}
                    {% comment %} ! Link highlighting {% endcomment %}
                    {% assign highlighted_text = '' %}
                    {% if childlink.title contains '--highlighted-red' %}
                      {% assign highlighted_text = '--highlighted-red' %}
                    {% elsif childlink.title contains '--highlighted' %}
                      {% assign highlighted_text = '--highlighted' %}
                    {% endif %}
                    <li>
                      {%- if childlink.links != blank -%}
                        <details-disclosure>
                          <details
                            id='Details-HeaderMenu-{{ forloop.index }}-{{ forloop.index0 }}'
                            class='mega-menu__submenu'
                          >
                            <summary
                              id='HeaderMenu-{{ link.handle }}-{{ childlink.handle }}'
                              class='{{ highlighted_text }} mega-menu__link link{% if childlink.current %} mega-menu__link--active{% endif %}'
                              {% if childlink.current %}
                                aria-current='page'
                              {% endif %}
                            >
                              {{ childlink.title | remove: highlighted_text | escape }}
                              {{- 'icon-caret.svg' | inline_asset_content -}}
                            </summary>
                            <ul class='list-unstyled mega-menu__submenu-content' role='list'>
                              {%- for grandchildlink in childlink.links -%}
                                {% comment %} ! Link highlighting {% endcomment %}
                                {% assign highlighted_text = '' %}
                                {% if grandchildlink.title contains '--highlighted-red' %}
                                  {% assign highlighted_text = '--highlighted-red' %}
                                {% elsif grandchildlink.title contains '--highlighted' %}
                                  {% assign highlighted_text = '--highlighted' %}
                                {% endif %}
                                <li>
                                  <a
                                    id='HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}'
                                    href='{{ grandchildlink.url }}'
                                    class='{{ highlighted_text }} mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}'
                                    {% if grandchildlink.current %}
                                      aria-current='page'
                                    {% endif %}
                                  >
                                    {{ grandchildlink.title | remove: highlighted_text | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </details>
                        </details-disclosure>
                      {%- else -%}
                        <a
                          id='HeaderMenu-{{ link.handle }}-{{ childlink.handle }}'
                          href='{{ childlink.url }}'
                          class='{{ highlighted_text }} mega-menu__link link{% if childlink.current %} mega-menu__link--active{% endif %}'
                          {% if childlink.current %}
                            aria-current='page'
                          {% endif %}
                        >
                          {{ childlink.title | remove: highlighted_text | escape }}
                        </a>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
                {% comment %} Overlay {% endcomment %}
                <div class='mega-menu__overlay'></div>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id='HeaderMenu-{{ link.handle }}'
            href='{{ link.url }}'
            class='header__menu-item list-menu__item link link--text focus-inset'
            {% if link.current %}
              aria-current='page'
            {% endif %}
          >
            <span
              class='{{ highlighted_text }} {%- if link.current %}header__active-menu-item{% endif %}'
            >
              {{- link.title | remove: highlighted_text | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
