{%- comment -%} Cart-level discount applications {%- endcomment -%}
<div class='cart-discounts js-contents' data-content='cart-level-discounts'>
  {% if section.settings.cart_show_discount_applications %}
    <h3 class='cart-discounts-title'>{{ 'sections.cart.discount_code' | t }}</h3>
    <div class='cart-discounts-form'>
      <div>
        <input
          class='cart-discounts-input'
          type='text'
          name='discount'
          placeholder='{{ 'sections.cart.discount_code_placeholder' | t }}'
        >
        {% comment %}
          disabled for now
          <button class="btn cart-discounts-button">Anwenden</button>
        {% endcomment %}
      </div>
      <div
        class='cart-discounts-feedback'
      ></div>
    </div>
  {% endif %}
  {%- if cart.cart_level_discount_applications.size > 0 -%}
    <p class='cart-discounts-subtitle'>{{ 'sections.cart.discount_code_applied' | t }}</p>
    <ul class='list-unstyled' role='list' aria-label='{{ 'customer.order.discount' | t }}'>
      {%- for discount in cart.cart_level_discount_applications -%}
        <li class='cart-discounts-item'>
          {{ discount.title }}
          (-{{ discount.total_allocated_amount | money }})
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>

<script>
      {% comment %} Check if the user's entered codes reflect a valid discount code using AJAX and provide feedback {% endcomment %}
      {% comment %} TODO: Implement this {% endcomment %}
  
      {% comment %} Get the form and the input, button and feedback elements {% endcomment %}
      const cartDiscountForm = document.querySelector('.cart-discounts-form');
      const cartDiscountInput = cartDiscountForm.querySelector('.cart-discounts-input');
      const cartDiscountButton = cartDiscountForm.querySelector('.cart-discounts-button');
      const cartDiscountFeedback = cartDiscountForm.querySelector('.cart-discounts-feedback');
  
      {% comment %} Create an empty array to store the discount codes the user has entered so far to combine them if possible {% endcomment %}
    document.addEventListener('DOMContentLoaded', () => {
      // ! Initialize an empty array to store discount codes
      let cartDiscountCodes = [];
  
      // ! Check if there are any stored discount codes in localStorage and add them to the array while also cleaning up duplicates
      if (localStorage.getItem('cartDiscount')) {
        cartDiscountCodes.push(...localStorage.getItem('cartDiscount').split(','));
        cartDiscountCodes = [...new Set(cartDiscountCodes)];
      }
  
      // ! Add an event listener to the discount button to handle discount code submission
      cartDiscountButton.addEventListener('click', (e) => {
        e.preventDefault();
  
        // ! Validate the discount code format
        if (cartDiscountInput.value.includes(' ')) {
          cartDiscountFeedback.classList.add('cart-discounts-feedback--invalid');
          cartDiscountFeedback.textContent = 'Bitte stellen Sie sicher, dass das Format des Codes gültig ist';
          return;
        }
  
          // ! Store the discount codes in localStorage combining them if possible
          localStorage.setItem('cartDiscount', cartDiscountCodes);
  
          // console.log(`/checkout?discount=${cartDiscountCodes.join(',')}`);
          // ! Apply the discount in the checkout then bring the user back to the cart
          window.location.href = `/checkout?discount=${cartDiscountCodes.join(',')}`;
          // ! Apply the discount by changing the URL and redirect the user to the cart
          setTimeout(async () => {
            await window.location.href = '/cart';
          }, 1500);
        }
      });
    });
</script>

{% style %}
  .cart-discounts {
    max-width: 1000px;
  }
  .cart-discounts-form {
    margin-bottom: 12px;
  }
  .cart-discounts-form > div {
    display: flex;
    gap: 12px;
  }
  .cart-discounts-item {
    list-style: disc inside;
    color: var(--color-text-secondary);
  }

  .cart-discounts-title {
    font-size: 1.5rem;
  }
  .cart-discounts-input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #090a0c;
    border-radius: 5px;
  }
  .cart-discounts-input:focus {
    outline: none;
    border-color: #04c;
    color: #04c;
  }
  .cart-discounts-button {
    padding: 8px 12px;
    border: 2px solid #090a0c;
    border-radius: 10px;
  }

  .cart-discounts-feedback {
    font-size: 1.2rem;
    margin-top: 4px;
  }
  .cart-discounts-feedback--valid {
    color: #4cb944;
  }
  .cart-discounts-feedback--invalid {
    color: #ad091f;
  }
{% endstyle %}
