<div class='cart-item__details__price'>
  {%- comment -%}
    This is the price of the entire line, as opposed to the units.
  {%- endcomment -%}
  {%- if item.original_line_price != item.final_line_price -%}
    <dl>
      <dt class=''>
        {{ 'products.product.price.regular_price' | t }}
      </dt>
      <dd>
        <s>
          {{ item.original_line_price | money }}
        </s>
      </dd>
      <dt class=''>
        {{ 'products.product.price.sale_price' | t }}
      </dt>
      <dd>
        {{ item.final_line_price | money }}
      </dd>
    </dl>
  {%- else -%}
    {% # custom_custom don't display the total price for free items as it's obsolete %}
    {% if item.final_line_price == 0 %}
    {% else %}
      <span>
        {{ item.original_line_price | money }}
      </span>
    {% endif %}
  {%- endif -%}

  {%- if item.variant.available and item.unit_price_measurement -%}
    <div class='u-small'>
      <span class='visually-hidden'>{{ 'products.price.unit_price' | t }}</span>
      {{ item.variant.unit_price | money }}
      <span>/</span>
      <span>&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
      {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
        {{- item.variant.unit_price_measurement.reference_value -}}
      {%- endif -%}
      {{ item.variant.unit_price_measurement.reference_unit }}
    </div>
  {%- endif -%}
</div>
