<div class='checkout-wrapper'>
  {%- if cart != empty -%}
    <footer class='cart-footer' id='CartFooter' data-id='{{ section.id }}'>
      {%- if settings.cart_show_free_shipping_bar -%}
        {%- comment -%} Shows progress bar for free shipping threshold {%- endcomment -%}
        <div data-content='free-shipping-bar' class='js-contents'>
          {% render 'cart-free-shipping-bar', cart: cart %}
        </div>
      {%- endif -%}

      <div class='cart-actions'>
        {%- comment -%} Cart totals and pricing information {%- endcomment -%}
        <div class='cart-total js-contents' data-content='cart-total'>
          <div>
            {%- if cart.total_discounts > 0 -%}
              <p class='cart-footer-total--discount'>
                {% assign formatted_total_discounts = cart.total_discounts | money %}
                {{ 'sections.cart.saving' | t: amount: formatted_total_discounts }}
              </p>
            {%- endif -%}
            <p class='cart-footer-total'>
              <span class='cart-footer-total--text'>{{ 'sections.cart.headings.subtotal' | t }}: </span>
              <span class='cart-footer-total--amount'>{{ cart.total_price | money }}</span>
            </p>
            <p class='cart-footer-disclaimer'>
              {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif cart.taxes_included -%}
                {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
            </p>
          </div>
        </div>

        <div>
          {%- comment -%} Update cart button for non-JS users {%- endcomment -%}
          <noscript>
            <button class='btn btn-full cta-btn'>
              {{ 'sections.cart.update' | t }}
            </button>
          </noscript>

          {%- comment -%} Main checkout button {%- endcomment -%}
          <button
            name='checkout'
            class='cart-checkout-button'
            {% if cart == empty %}
              disabled
            {% endif %}
            onclick="
              _tfa.push({
                notify: 'event',
                name: 'make_purchase',
                id: 1617083,
                revenue: '{{ cart.total_price }}',
                quantity: '{{ cart.item_count }}',
                orderid: '{{ cart.id }}',
                currency: '{{ shop.currency }}'
              })
            "
          >
            {{ 'sections.cart.checkout' | t }}
          </button>
        </div>

        {%- if section.settings.cart_show_payment_icons -%}
          {%- comment -%} Payment method icons {%- endcomment -%}
          <div class='cart-payment-icons'>
            <span class='visually-hidden'>{{ 'sections.cart.payment' | t }}</span>
            <ul class='list list-payment' role='list'>
              {%- for type in shop.enabled_payment_types -%}
                <li class='list-payment__item list-unstyled'>
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}

        {%- comment -%} Error message container {%- endcomment -%}
        <div id='Cart-Errors'></div>
      </div>
    </footer>
  {%- endif -%}
</div>

{% style %}
  /* Checkout button block */
  .checkout-wrapper {
    /* Normal state styles */
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    max-width: 1000px;
    text-align: center;
    padding-top: 16px;
    background-color: #fafaff;

    /* Stuck state styles - to be removed when the cart is scrolled */
    border-top: 1px solid #090a0c;
  }
  .checkout-wrapper[data-stuck] {
  }

  #trustbadge-container-98e3dadd90eb493088abdc5597a70810 {
    display: none;
  }
  .cart-actions {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2147483648;
  }

  /* Button */
  .cart-checkout-button {
    max-width: 300px;
    width: 100%;

    background-color: #04c;
    color: #fafaff;
    font-size: 1.4rem;
    font-weight: 600;

    padding: 16px 0;

    border: 2px solid #090a0c;
    border-radius: 10px;

    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.25);

    transition: all 0.2s ease-in-out;
  }
  .cart-checkout-button:hover,
  .cart-checkout-button:focus {
    cursor: pointer;
    background-color: #090a0c;
    color: #f5ae2e;
  }
  .cart-checkout-button:active {
    background-color: #090a0c;
    color: #fafaff;
  }
  .cart-footer-disclaimer {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);

    padding-bottom: 8px;
  }
  .cart-footer-total {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .cart-footer-total--text {
  }
  .cart-footer-total--discount {
    color: #4cb944;
    padding-bottom: 8px;
  }
{% endstyle %}
