{%- comment -%}
  Usage:
      {% render 'product-buy-buttons', product: product, product_form_id: product_form_id, section: section, block: block %}
{%- endcomment -%}

{%- liquid
  assign gift_card_recipient_feature_active = false

  if block.settings.show_gift_card_recipient and product.gift_card?
    assign gift_card_recipient_feature_active = true
  endif

  assign show_dynamic_checkout = false

  if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
    assign show_dynamic_checkout = true
  endif
-%}

<div class='product__buy-buttons pplr_add_to_cart' {{ block.shopify_attributes }}>
  <product-form class='product-form' data-hide-errors='{{ gift_card_recipient_feature_active }}'>
    <div class='product-form__error-message-wrapper' role='alert' hidden>
      <span class='product-form__error-message'></span>
    </div>

    {%- form 'product',
      product,
      id: product_form_id,
      class: 'form',
      novalidate: 'novalidate',
      data-type: 'add-to-cart-form'
    -%}
      <input type='hidden' name='id' value='{{ product.selected_or_first_available_variant.id }}' disabled>

      {%- if gift_card_recipient_feature_active -%}
        {% render 'gift-card-recipient-form', product: product, form: form, section: section %}
      {%- endif -%}

      <div class='product-form__buttons'>
        <div class='product-form__submit__container'>
          {%- if block.settings.enable_quantity_selector -%}
            <div class='product-form__input product-form__quantity'>
              <label class='form__label visually-hidden' for='Quantity-{{ section.id }}'>
                {{ 'products.product.quantity.label' | t }}
              </label>

              <quantity-input class='quantity'>
                <button class='quantity__button no-js-hidden btn-reset' name='minus' type='button'>
                  <span class='visually-hidden'>
                    {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                  </span>
                  {% render 'icon-minus' %}
                </button>
                <input
                  class='quantity__input'
                  type='number'
                  name='quantity'
                  id='Quantity-{{ section.id }}'
                  min='1'
                  value='1'
                  form='{{ product_form_id }}'
                >
                <button class='quantity__button no-js-hidden btn-reset' name='plus' type='button'>
                  <span class='visually-hidden'>
                    {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                  </span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>
            </div>
          {%- endif -%}
          <button
            type='submit'
            name='add'
            class='product-form__submit btn btn-full cta-btn'
            {% if product.selected_or_first_available_variant.available == false %}
              disabled
            {% endif %}
          >
            <span>
              {%- if product.selected_or_first_available_variant.available -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            </span>
          </button>
        </div>
        {%- if show_dynamic_checkout -%}
          {{ form | payment_button }}
        {%- endif -%}
      </div>
    {%- endform -%}
  </product-form>
</div>
