{% schema %}
{
  "name": "Custom - Achievements",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Achievements"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image 1"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text 1",
      "default": "Achievement 1"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image 2"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text 2",
      "default": "Achievement 2"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Image 3"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Text 3",
      "default": "Achievement 3"
    }
  ],
  "presets": [
    {
      "name": "Custom - Achievements",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<article class="pin-action-achievements">
  <div class="pin-action-achievements__wrapper">
    <h3>{{ section.settings.heading }}</h3>
    <div class="pin-action-achievements__content">
      <div class="pin-action-achievements__content-item">
        {{ section.settings.image1 | image_url: width: 250, height: 150 | image_tag }}
        <p>{{ section.settings.text1 }}</p>
      </div>
      <div class="pin-action-achievements__content-item">
        {{ section.settings.image2 | image_url: width: 250, height: 150 | image_tag }}
        <p>{{ section.settings.text2 }}</p>
      </div>
      <div class="pin-action-achievements__content-item">
        {{ section.settings.image3 | image_url: width: 250, height: 150 | image_tag }}
        <p>{{ section.settings.text3 }}</p>
      </div>
    </div>
  </div>
</article>

{% style %}
  .pin-action-achievements {
    padding: 45px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .pin-action-achievements__wrapper h3 {
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 25px;
    text-align: center;
  }
  .pin-action-achievements__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
  }
  .pin-action-achievements__content-item {
    font-size: 22px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: min-content;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .pin-action-achievements__content-item img {
    padding: 15px;
    max-width: 250px;
  }
  .pin-action-achievements__content-item p {
    min-width: 100%;
    padding: 0 10px 10px 10px;
  }

  /* Tablet & Mobile */
  @media (max-width: 768px) {
    .pin-action-achievements__content-item {
      width: 100%;
      margin: 0 25px;
    }
    .pin-action-achievements__content-item img {
      max-width: 100px;
      height: auto;
    }
    .pin-action-achievements__wrapper h3 {
      font-size: 16px;
    }
    .pin-action-achievements__content-item p {
      font-size: 14px;
    }
  }
{% endstyle %}
