{{ 'old_zepto-overwrites.css' | asset_url | stylesheet_tag }}

<section
  class='product__container'
  id='MainProduct-{{ section.id }}'
  data-section-id='{{ section.id }}'
>
  {{ 'section-main-product.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-list-payment.css' | asset_url | stylesheet_tag }}

  {%- liquid
    assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
    assign media_count = product.media.size
    if section.settings.hide_variants and media_count > 1
      assign media_count = media_count | minus: variant_images.size | plus: 1
    endif
    assign first_3d_model = product.media | where: 'media_type', 'model' | first
  -%}

  {%- if first_3d_model -%}
    <link
      id='ModelViewerStyle'
      rel='stylesheet'
      href='https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css'
      media='print'
      onload="this.media='all'"
    >
  {%- endif -%}

  {%- if section.settings.back_to_collection_button == 'button'
    or section.settings.back_to_collection_button == 'button_with_text'
  -%}
    {% render 'button-back-to-collection' %}
  {%- endif -%}

  <article class='product__wrapper' id='product-top'>
    {%- if product.media.size > 0 -%}
      {% render 'old_custom-product-media-slider' %}
    {%- endif -%}
    <div class='product__info' id='Product-Info-{{ section.id }}'>
      {%- assign product_form_id = 'Product-Form-' | append: section.id -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'title' -%}
            <div class='product__title' {{ block.shopify_attributes }}>
              <h1 class='u-h1'>
                {{ product.title | escape }}
              </h1>
            </div>
          {%- when 'description' -%}
            <div class='product__description rte' {{ block.shopify_attributes }}>
              {{ product.description }}
            </div>
          {%- when 'rating' -%}
            {% render 'old_product-rating', product: product %}
          {%- when 'text' -%}
            {%- if block.settings.text != empty -%}
              <div class='product__text' {{ block.shopify_attributes }}>
                <p>
                  {{ block.settings.text }}
                </p>
              </div>
            {%- endif -%}
          {%- when 'custom_liquid' -%}
            {{ block.settings.custom_liquid }}
          {%- when 'price' -%}
            <div
              class='no-js-hidden product__price'
              id='Price-{{ section.id }}'
              role='status'
              {{ block.shopify_attributes }}
            >
              {% render 'price', product: product, use_variant: true, price_class: 'price--large', show_badges: true %}

              {% comment %} Show icon for more details about the price next to it {% endcomment %}
              {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                <details class='product__info__price-details-wrapper'>
                  <summary class='product__info__price-details__summary'>
                    <span class='product__info__price-details__icon'>{% render 'icon-info', size: 16 %}</span>
                  </summary>
                </details>

                <div class='product__info__price-details-content-wrapper'>
                  <div class='product__info__price-details__content'>
                    {{ 'products.product.include_taxes' | t }}
                    {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  </div>
                </div>
              {%- endif -%}
            </div>
            <div class='product__form-installment' {{ block.shopify_attributes }}>
              {%- assign product_form_installment_id = 'Product-Form-Installment-' | append: section.id -%}
              {%- form 'product', product, id: product_form_installment_id, class: 'installment' -%}
                <input
                  type='hidden'
                  name='id'
                  value='{{ product.selected_or_first_available_variant.id }}'
                >
                {{ form | payment_terms }}
              {%- endform -%}
            </div>
          {%- when 'variant_picker' -%}
            {% render 'old_product-variant-picker',
              product: product,
              block: block,
              update_url: true,
              product_form_id: product_form_id,
              options_threshold: block.settings.options_threshold
            %}
          {%- when 'benefits' -%}
            <ul class='product__benefits' {{ block.shopify_attributes }}>
              {%- for i in (1..4) -%}
                {% liquid
                  assign icon = 'benefit_icon_' | append: forloop.index
                  assign label = 'benefit_label_' | append: forloop.index
                  assign block_settings_label = block.settings[label]
                %}

                {%- if block_settings_label != blank -%}
                  <li class='list-unstyled product__benefit'>
                    {%- unless block.settings[icon] == 'none' -%}
                      <div class='product__benefit-icon icon-group'>
                        {%- liquid
                          if block.settings[icon] == 'check'
                            render 'icon-check'
                          elsif block.settings[icon] == 'cross'
                            render 'icon-cross'
                          elsif block.settings[icon] == 'dash'
                            echo '—'
                          endif
                        -%}
                      </div>
                    {%- endunless -%}
                    <div class='product__benefit-label'>
                      <span>{{ block_settings_label }}</span>
                    </div>
                  </li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          {%- when 'payment_icons' -%}
            <div class='product__payment-icons text-center' {{ block.shopify_attributes }}>
              {%- if block.settings.show_payment_icons -%}
                <ul class='list list-payment' role='list'>
                  {%- for type in shop.enabled_payment_types -%}
                    <li class='list-payment__item list-unstyled'>
                      {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}

              {%- if block.settings.text != blank -%}
                <div class='rte'>
                  {{ block.settings.text }}
                </div>
              {%- endif -%}
            </div>
          {%- when 'buy_buttons' -%}
            {% render 'old_product-buy-buttons',
              product: product,
              product_form_id: product_form_id,
              section: section,
              block: block
            %}
          {%- when 'complementary_products' -%}
            <script src='{{ 'old_product-recommendations.js' | asset_url }}' defer='defer'></script>

            {% render 'old_product-complementary-products',
              product: product,
              section: section,
              block: block,
              products_to_show: block.settings.products_to_show,
              aspect_ratio: block.settings.aspect_ratio
            %}
          {%- when 'pickup_availability' -%}
            {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

            {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities
              | where: 'pick_up_enabled', true
            -%}

            <pickup-availability
              class='product__pickup-availabilities no-js-hidden'
              {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
                available
              {% endif %}
              data-root-url='{{ routes.root_url }}'
              data-variant-id='{{ product.selected_or_first_available_variant.id }}'
              data-has-only-default-variant='{{ product.has_only_default_variant }}'
            >
              <template>
                <pickup-availability-preview class='pickup-availability-preview'>
                  {% render 'icon-cross' %}
                  <div class='pickup-availability-info'>
                    <p class=''>{{ 'products.pickup_availability.unavailable' | t }}</p>
                    <button class='pickup-availability-button btn-reset'>
                      {{ 'products.pickup_availability.refresh' | t }}
                    </button>
                  </div>
                </pickup-availability-preview>
              </template>
            </pickup-availability>

            <script src='{{ 'pickup-availability.js' | asset_url }}' defer='defer'></script>
          {%- when 'feature_list' -%}
            {% unless product.metafields.custom.feature_highlight_1 == blank
              and product.metafields.custom.feature_highlight_2 == blank
              and product.metafields.custom.feature_highlight_3 == blank
            %}
              {% render 'old_custom_small-list' %}
            {% endunless %}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </article>

  {%- if section.settings.enable_sticky_bar -%}
    <product-sticky-bar class='no-js-hidden product__sticky-bar product-sticky-bar__container has-border-top'>
      <div class='product-sticky-bar__wrapper' aria-hidden='false'>
        <div class='product-sticky-bar__product-info'>
          <h2 class='u-h6'>{{ product.title }}</h2>

          {%- if section.settings.enable_sticky_bar_info -%}
            <div id='StickyPrice-{{ section.id }}'>
              {% render 'price', product: product, use_variant: true, price_class: 'price--large', show_badges: true %}
            </div>
          {%- endif -%}
        </div>
        <div class='product-sticky-bar__product-form'>
          <a
            type='button'
            href='#product-top'
            id='StickyAddToCart-{{ section.id }}'
            class='btn cta-btn custom-short-button'
            {% if product.selected_or_first_available_variant.available != true %}
              disabled
            {% endif %}
          >
            <span class=''>
              {%- if product.selected_or_first_available_variant.available -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            </span>
          </a>
        </div>
      </div>
    </product-sticky-bar>
  {%- endif -%}

  {%- if first_3d_model -%}
    <script type='application/json' id='Product-JSON-{{ product.id }}'>
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
    <script src='{{ 'product-model.js' | asset_url }}' defer></script>
  {%- endif -%}
</section>

<!-- Taboola Pixel Code -->
<script>
  _tfa.push({
    notify: 'event',
    name: 'product_view',
    id: 1617083,
    revenue: '{{ product.price }}',
    orderid: '{{ cart.id }}',
    currency: '{{ shop.currency }}',
  });
</script>
<!-- End of Taboola Pixel Code -->

{%- if request.design_mode -%}
  <script src='{{ 'theme-editor.js' | asset_url }}' defer='defer'></script>
{%- endif -%}

<script src='{{ 'variant-selects.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'product-form.js' | asset_url }}' defer='defer'></script>

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type='application/ld+json'>
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      "image" : [{{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
        {%- endif %}
        "brand": {
          "@type": "Brand",
          "name": {{ product.vendor | json }}
        },
        "offers": [
                  {%- for variant in product.variants -%}
            {
                      "@type": "Offer",
                      {%- if variant.sku != blank -%}
                "sku": {{ variant.sku | json }},
                      {%- endif -%}
                {%- if variant.barcode.size == 12 -%}
                  "gtin12": {{ variant.barcode }},
                      {%- endif -%}
                  {%- if variant.barcode.size == 13 -%}
                    "gtin13": {{ variant.barcode }},
                      {%- endif -%}
                    {%- if variant.barcode.size == 14 -%}
                      "gtin14": {{ variant.barcode }},
                      {%- endif -%}
                      "availability": "http://schema.org/{% if variant.available %} InStock{% else %}OutOfStock{% endif %}",
                      "price": {{ variant.price | divided_by: 100.00 | json }},
                      "priceCurrency": {{ cart.currency.iso_code | json }},
                      "url": {{ request.origin | append: variant.url | json }}
                    }{% unless forloop.last %},{% endunless %}
                  {%- endfor -%}
                ]
              }
</script>

{% schema %}
{
  "name": "Old Main Product",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_bar",
      "label": "t:sections.main-product.settings.enable_sticky_bar.label",
      "default": true,
      "info": "t:sections.main-product.settings.enable_sticky_bar.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_bar_info",
      "label": "Sticky bar info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_product_media_full_viewheight",
      "label": "t:sections.main-product.settings.enable_product_media_full_viewheight.label",
      "default": false,
      "info": "t:sections.main-product.settings.enable_product_media_full_viewheight.info"
    },
    {
      "type": "select",
      "id": "back_to_collection_button",
      "label": "Back to collection button",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "button",
          "label": "Button"
        },
        {
          "value": "button_with_text",
          "label": "Button with path"
        }
      ],
      "default": "none"
    },
    {
      "type": "text",
      "id": "back_to_collection_button_text_before",
      "label": "Back to collection button text before"
    },
    {
      "type": "text",
      "id": "back_to_collection_button_text_after",
      "label": "Back to collection button text after"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "benefits",
      "name": "t:sections.main-product.blocks.benefits.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "benefit_icon_1",
          "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon_1.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon.options__1.label"
            },
            {
              "value": "check",
              "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon.options__2.label"
            },
            {
              "value": "cross",
              "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon.options__3.label"
            },
            {
              "value": "dash",
              "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon.options__4.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "benefit_label_1",
          "default": "Share your product benefits",
          "label": "t:sections.main-product.blocks.benefits.settings.benefit_label_1.label"
        },
        {
          "type": "select",
          "id": "benefit_icon_2",
          "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon_2.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon.options__1.label"
            },
            {
              "value": "check",
              "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon.options__2.label"
            },
            {
              "value": "cross",
              "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon.options__3.label"
            },
            {
              "value": "dash",
              "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon.options__4.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "benefit_label_2",
          "default": "Share your product benefits",
          "label": "t:sections.main-product.blocks.benefits.settings.benefit_label_2.label"
        },
        {
          "type": "select",
          "id": "benefit_icon_3",
          "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon_3.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon.options__1.label"
            },
            {
              "value": "check",
              "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon.options__2.label"
            },
            {
              "value": "cross",
              "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon.options__3.label"
            },
            {
              "value": "dash",
              "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon.options__4.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "benefit_label_3",
          "default": "Share your product benefits",
          "label": "t:sections.main-product.blocks.benefits.settings.benefit_label_3.label"
        },
        {
          "type": "select",
          "id": "benefit_icon_4",
          "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon_4.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon.options__1.label"
            },
            {
              "value": "check",
              "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon.options__2.label"
            },
            {
              "value": "cross",
              "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon.options__3.label"
            },
            {
              "value": "dash",
              "label": "t:sections.main-product.blocks.benefits.settings.benefit_icon.options__4.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "benefit_label_4",
          "default": "Share your product benefits",
          "label": "t:sections.main-product.blocks.benefits.settings.benefit_label_4.label"
        }
      ]
    },
    {
      "type": "payment_icons",
      "name": "t:sections.main-product.blocks.payment_icons.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_payment_icons",
          "label": "t:sections.main-product.blocks.payment_icons.settings.show_payment_icons.label",
          "default": true
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.main-product.blocks.payment_icons.settings.text.label",
          "default": "<p>Feel the difference. Risk free.</p>"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "options_threshold",
          "min": 2,
          "max": 10,
          "step": 1,
          "default": 10,
          "label": "Switch to dropdown when options exceed this amount"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_quantity_selector",
          "label": "t:sections.main-product.blocks.buy_buttons.settings.enable_quantity_selector.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "t:sections.main-product.blocks.pickup_availability.name",
      "limit": 1
    },
    {
      "type": "complementary_products",
      "name": "t:sections.main-product.blocks.complementary_products.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.main-product.blocks.complementary_products.settings.heading.label",
          "default": "Pair it with"
        },
        {
          "type": "range",
          "id": "products_to_show",
          "label": "t:sections.main-product.blocks.complementary_products.settings.products_to_show.label",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 3
        },
        {
          "type": "select",
          "id": "aspect_ratio",
          "label": "t:sections.all.aspect_ratio.label",
          "options": [
            {
              "value": "natural",
              "label": "t:sections.all.aspect_ratio.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.all.aspect_ratio.options__2.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.all.aspect_ratio.options__3.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.all.aspect_ratio.options__4.label"
            }
          ],
          "default": "square"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.custom-liquid.settings.custom_liquid.label",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.custom-liquid.settings.custom_liquid.label",
          "info": "t:sections.custom-liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "feature_list",
      "name": "Feature List"
    }
  ]
}
{% endschema %}
