<main
  style='padding: {{ section.settings.section_padding }}px;'
  class='twcss-flex twcss-flex-col twcss-gap-8 twcss-items-center'
>
  <section class='twcss-flex twcss-flex-col twcss-gap-8 twcss-items-center'>
    <h1 class='twcss-text-center twcss-text-4xl twcss-font-bold'>
      {{ section.settings.title }}
    </h1>
    <article class='twcss-grid twcss-grid-cols-1 lg:twcss-grid-cols-3 twcss-gap-4'>
      <!-- Hero Image 1 -->
      <div
        style='background-image: url({{ section.settings.hero_image1 | image_url: width: 400 }})'
        class='twcss-flex twcss-flex-col twcss-gap-4 twcss-items-center twcss-justify-center twcss-max-w-[400px] twcss-max-h-[400px] twcss-bg-cover twcss-bg-center twcss-bg-no-repeat twcss-p-10'
      >
        <h2 class='twcss-text-3xl twcss-font-bold twcss-text-center twcss-text-brandwhite'>
          {{ section.settings.hero_image1_title }}
        </h2>
        <p class='twcss-text-lg twcss-italic twcss-text-center twcss-text-brandwhite'>
          {{ section.settings.hero_image1_text }}
        </p>
      </div>
      <!-- Hero Image 2 -->
      <div
        style='background-image: url({{ section.settings.hero_image2 | image_url: width: 400 }})'
        class='twcss-flex twcss-flex-col twcss-gap-4 twcss-items-center twcss-justify-center twcss-max-w-[400px] twcss-max-h-[400px] twcss-bg-cover twcss-bg-center twcss-bg-no-repeat twcss-p-10'
      >
        <h2 class='twcss-text-3xl twcss-font-bold twcss-text-center twcss-text-brandwhite'>
          {{ section.settings.hero_image2_title }}
        </h2>
        <p class='twcss-text-lg twcss-italic twcss-text-center twcss-text-brandwhite'>
          {{ section.settings.hero_image2_text }}
        </p>
      </div>
      <!-- Hero Image 3 -->
      <div
        style='background-image: url({{ section.settings.hero_image3 | image_url: width: 400 }})'
        class='twcss-flex twcss-flex-col twcss-gap-4 twcss-items-center twcss-justify-center twcss-max-w-[400px] twcss-max-h-[400px] twcss-bg-cover twcss-bg-center twcss-bg-no-repeat twcss-p-10'
      >
        <h2 class='twcss-text-3xl twcss-font-bold twcss-text-center twcss-text-brandwhite'>
          {{ section.settings.hero_image3_title }}
        </h2>
        <p class='twcss-text-lg twcss-italic twcss-text-center twcss-text-brandwhite'>
          {{ section.settings.hero_image3_text }}
        </p>
      </div>
    </article>
  </section>

  <section class='twcss-flex twcss-flex-col twcss-gap-8 twcss-w-full'>
    <!-- Button 1 -->
    <div class='twcss-w-full twcss-mx-auto'>
      <button
        type='button'
        class='twcss-w-full twcss-mx-auto twcss-text-2xl twcss-font-bold twcss-bg-brandwhite twcss-text-brandblack twcss-border-2 twcss-border-brandblack twcss-px-4 twcss-py-2 twcss-rounded-md twcss-transition-all twcss-duration-300 twcss-ease-in-out hover:twcss-bg-brandblack hover:twcss-text-brandwhite twcss-cursor-pointer twcss-text-center'
        onclick="document.getElementById('dropdown-1').classList.toggle('twcss-hidden')"
      >
        {{ section.settings.button1_text }}
      </button>

      <div
        id='dropdown-1'
        class='twcss-bg-white twcss-gap-8 twcss-p-6 twcss-rounded-lg twcss-shadow twcss-mt-4 twcss-w-full twcss-hidden'
      >
        <h2 class='twcss-text-2xl twcss-font-bold twcss-text-center twcss-text-brandblack twcss-mb-4'>
          {{ section.settings.button1_heading }}
        </h2>
        <p class='twcss-text-lg twcss-text-center twcss-text-brandblack twcss-mb-4'>
          {{ section.settings.button1_subheading }}
        </p>
        <div class='twcss-grid twcss-grid-cols-1 lg:twcss-grid-cols-3 twcss-items-center twcss-gap-6 twcss-mb-4'>
          <div class='twcss-flex twcss-flex-col twcss-items-center twcss-gap-2 twcss-h-[600px]'>
            <img
              src='{{ section.settings.button1_img1 | image_url: width: 400 }}'
              alt='{{ section.settings.button1_img1_title | escape }}'
              class='twcss-rounded-md twcss-mb-2'
              width='400'
              height='auto'
            >
            <h3 class='twcss-text-xl twcss-font-bold twcss-text-center'>{{ section.settings.button1_img1_title }}</h3>
            <div class='twcss-text-base twcss-text-center'>{{ section.settings.button1_img1_richtext }}</div>
          </div>
          <div class='twcss-flex twcss-flex-col twcss-items-center twcss-gap-2 twcss-h-[600px]'>
            <img
              src='{{ section.settings.button1_img2 | image_url: width: 400 }}'
              alt='{{ section.settings.button1_img2_title | escape }}'
              class='twcss-rounded-md twcss-mb-2'
              width='400'
              height='auto'
            >
            <h3 class='twcss-text-xl twcss-font-bold twcss-text-center'>{{ section.settings.button1_img2_title }}</h3>
            <div class='twcss-text-base twcss-text-center'>{{ section.settings.button1_img2_richtext }}</div>
          </div>
          <div class='twcss-flex twcss-flex-col twcss-items-center twcss-gap-2 twcss-h-[600px]'>
            <img
              src='{{ section.settings.button1_img3 | image_url: width: 400 }}'
              alt='{{ section.settings.button1_img3_title | escape }}'
              class='twcss-rounded-md twcss-mb-2'
              width='400'
              height='auto'
            >
            <h3 class='twcss-text-xl twcss-font-bold twcss-text-center'>{{ section.settings.button1_img3_title }}</h3>
            <div class='twcss-text-base twcss-text-center'>{{ section.settings.button1_img3_richtext }}</div>
          </div>
        </div>
        <p class='twcss-text-center twcss-text-brandblack'>{{ section.settings.button1_bottom_text }}</p>
      </div>
    </div>

    <!-- Button 2 -->
    <div class='twcss-w-full twcss-mx-auto'>
      <button
        type='button'
        class='twcss-mx-auto twcss-text-2xl twcss-font-bold twcss-bg-brandwhite twcss-text-brandblack twcss-border-2 twcss-border-brandblack twcss-px-4 twcss-py-2 twcss-rounded-md twcss-transition-all twcss-duration-300 twcss-ease-in-out hover:twcss-bg-brandblack hover:twcss-text-brandwhite twcss-cursor-pointer twcss-w-full twcss-text-center'
        onclick="document.getElementById('dropdown-2').classList.toggle('twcss-hidden')"
      >
        {{ section.settings.button2_text }}
      </button>

      <div
        id='dropdown-2'
        class='twcss-bg-white twcss-gap-4 twcss-p-6 twcss-rounded-lg twcss-shadow twcss-mt-4 twcss-w-full twcss-hidden'
      >
        <h2 class='twcss-text-2xl twcss-font-bold twcss-text-center twcss-text-brandblack'>
          {{ section.settings.button2_heading }}
        </h2>
        <p class='twcss-text-lg twcss-text-center twcss-text-brandblack'>{{ section.settings.button2_subheading }}</p>
        <div class='twcss-grid twcss-grid-cols-1 lg:twcss-grid-cols-3 twcss-items-center twcss-gap-6 twcss-h-[600px]'>
          <div class='twcss-flex twcss-flex-col twcss-items-center twcss-gap-2 twcss-h-[600px]'>
            <img
              src='{{ section.settings.button2_img1 | image_url: width: 400 }}'
              alt='{{ section.settings.button2_img1_title | escape }}'
              class='twcss-rounded-md twcss-mb-2'
              width='400'
              height='auto'
            >
            <h3 class='twcss-text-xl twcss-font-bold'>{{ section.settings.button2_img1_title }}</h3>
            <div class='twcss-text-base'>{{ section.settings.button2_img1_richtext }}</div>
          </div>
          <div class='twcss-flex twcss-flex-col twcss-items-center twcss-gap-2 twcss-h-[600px]'>
            <img
              src='{{ section.settings.button2_img2 | image_url: width: 400 }}'
              alt='{{ section.settings.button2_img2_title | escape }}'
              class='twcss-rounded-md twcss-mb-2'
              width='400'
              height='auto'
            >
            <h3 class='twcss-text-xl twcss-font-bold twcss-text-center'>{{ section.settings.button2_img2_title }}</h3>
            <div class='twcss-text-base twcss-text-center'>{{ section.settings.button2_img2_richtext }}</div>
          </div>
          <div class='twcss-flex twcss-flex-col twcss-items-center twcss-gap-2 twcss-h-[600px]'>
            <img
              src='{{ section.settings.button2_img3 | image_url: width: 400 }}'
              alt='{{ section.settings.button2_img3_title | escape }}'
              class='twcss-rounded-md twcss-mb-2'
              width='400'
              height='auto'
            >
            <h3 class='twcss-text-xl twcss-font-bold'>{{ section.settings.button2_img3_title }}</h3>
            <div class='twcss-text-base'>{{ section.settings.button2_img3_richtext }}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Button 3 -->
    <div class='twcss-w-full twcss-mx-auto'>
      <button
        type='button'
        class='twcss-mx-auto twcss-items-center twcss-justify-center twcss-text-2xl twcss-font-bold twcss-bg-brandwhite twcss-text-brandblack twcss-border-2 twcss-border-brandblack twcss-px-4 twcss-py-2 twcss-rounded-md twcss-transition-all twcss-duration-300 twcss-ease-in-out hover:twcss-bg-brandblack hover:twcss-text-brandwhite twcss-cursor-pointer twcss-w-full twcss-text-center'
        onclick="document.getElementById('dropdown-3').classList.toggle('twcss-hidden')"
      >
        {{ section.settings.button3_text }}
      </button>

      <div
        id='dropdown-3'
        class='twcss-bg-white twcss-gap-8 twcss-p-6 twcss-rounded-lg twcss-shadow twcss-mt-4 twcss-w-full twcss-hidden'
      >
        <h2 class='twcss-text-2xl twcss-font-bold twcss-text-center twcss-text-brandblack'>
          {{ section.settings.button3_heading }}
        </h2>
        <p class='twcss-text-base'>{{ section.settings.button3_richtext }}</p>
        <a
          href='tel:+4922195673422'
          class='twcss-w-[120px] twcss-h-[50px] twcss-text-2xl twcss-text-center twcss-font-bold twcss-bg-brandblue twcss-text-brandwhite twcss-border-2 twcss-border-brandblack twcss-px-4 twcss-py-2 twcss-rounded-md twcss-transition-all twcss-duration-300 twcss-ease-in-out hover:twcss-text-yellow-500 twcss-cursor-pointer'
        >
          {{ section.settings.button3_button1_text }}
        </a>
        <a
          href='mailto:info@signmaker.de'
          class='twcss-w-[120px] twcss-h-[50px] twcss-text-2xl twcss-text-center twcss-font-bold twcss-bg-brandblue twcss-text-brandwhite twcss-border-2 twcss-border-brandblack twcss-px-4 twcss-py-2 twcss-rounded-md twcss-transition-all twcss-duration-300 twcss-ease-in-out hover:twcss-text-yellow-500 twcss-cursor-pointer'
        >
          {{ section.settings.button3_button2_text }}
        </a>
        <p class='twcss-text-center twcss-text-brandblack'>{{ section.settings.button3_bottom_text }}</p>
      </div>
    </div>
  </section>
</main>

{% schema %}
{
  "name": "Media Page",
  "settings": [
    {
      "type": "range",
      "id": "section_padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section padding",
      "default": 36
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Media Page"
    },
    {
      "type": "image_picker",
      "id": "hero_image1",
      "label": "Hero Image 1"
    },
    {
      "type": "text",
      "id": "hero_image1_title",
      "label": "Hero Image 1 Title"
    },
    {
      "type": "text",
      "id": "hero_image1_text",
      "label": "Hero Image 1 Text"
    },
    {
      "type": "image_picker",
      "id": "hero_image2",
      "label": "Hero Image 2"
    },
    {
      "type": "text",
      "id": "hero_image2_title",
      "label": "Hero Image 2 Title"
    },
    {
      "type": "text",
      "id": "hero_image2_text",
      "label": "Hero Image 2 Text"
    },
    {
      "type": "image_picker",
      "id": "hero_image3",
      "label": "Hero Image 3"
    },
    {
      "type": "text",
      "id": "hero_image3_title",
      "label": "Hero Image 3 Title"
    },
    {
      "type": "text",
      "id": "hero_image3_text",
      "label": "Hero Image 3 Text"
    },
    {
      "type": "text",
      "id": "button1_text",
      "label": "Button 1 Text",
      "default": "Show Heading & Subheading"
    },
    {
      "type": "text",
      "id": "button1_heading",
      "label": "Button 1 Heading",
      "default": "How to attach your sign"
    },
    {
      "type": "richtext",
      "id": "button1_subheading",
      "label": "Button 1 Subheading",
      "default": "<p>Instructions and details for attaching your sign.</p>"
    },
    {
      "type": "image_picker",
      "id": "button1_img1",
      "label": "Button 1 Image 1"
    },
    {
      "type": "text",
      "id": "button1_img1_title",
      "label": "Button 1 Image 1 Title",
      "default": "bolt"
    },
    {
      "type": "richtext",
      "id": "button1_img1_richtext",
      "label": "Button 1 Image 1 Richtext"
    },
    {
      "type": "image_picker",
      "id": "button1_img2",
      "label": "Button 1 Image 2"
    },
    {
      "type": "text",
      "id": "button1_img2_title",
      "label": "Button 1 Image 2 Title",
      "default": "Threaded pins"
    },
    {
      "type": "richtext",
      "id": "button1_img2_richtext",
      "label": "Button 1 Image 2 Richtext"
    },
    {
      "type": "image_picker",
      "id": "button1_img3",
      "label": "Button 1 Image 3"
    },
    {
      "type": "text",
      "id": "button1_img3_title",
      "label": "Button 1 Image 3 Title",
      "default": "Fasten"
    },
    {
      "type": "richtext",
      "id": "button1_img3_richtext",
      "label": "Button 1 Image 3 Richtext"
    },
    {
      "type": "text",
      "id": "button1_bottom_text",
      "label": "Button 1 Bottom Text"
    },
    {
      "type": "text",
      "id": "button2_text",
      "label": "Button 2 Text",
      "default": "Show Image Grid"
    },
    {
      "type": "text",
      "id": "button2_heading",
      "label": "Button 2 Heading"
    },
    {
      "type": "richtext",
      "id": "button2_subheading",
      "label": "Button 2 Subheading"
    },
    {
      "type": "image_picker",
      "id": "button2_img1",
      "label": "Button 2 Image 1"
    },
    {
      "type": "text",
      "id": "button2_img1_title",
      "label": "Button 2 Image 1 Title",
      "default": "bolt"
    },
    {
      "type": "richtext",
      "id": "button2_img1_richtext",
      "label": "Button 2 Image 1 Richtext"
    },
    {
      "type": "image_picker",
      "id": "button2_img2",
      "label": "Button 2 Image 2"
    },
    {
      "type": "text",
      "id": "button2_img2_title",
      "label": "Button 2 Image 2 Title",
      "default": "Threaded pins"
    },
    {
      "type": "richtext",
      "id": "button2_img2_richtext",
      "label": "Button 2 Image 2 Richtext"
    },
    {
      "type": "image_picker",
      "id": "button2_img3",
      "label": "Button 2 Image 3"
    },
    {
      "type": "text",
      "id": "button2_img3_title",
      "label": "Button 2 Image 3 Title",
      "default": "Fasten"
    },
    {
      "type": "richtext",
      "id": "button2_img3_richtext",
      "label": "Button 2 Image 3 Richtext"
    },
    {
      "type": "text",
      "id": "button3_text",
      "label": "Button 3 Text",
      "default": "Show Text"
    },
    {
      "type": "richtext",
      "id": "button3_richtext",
      "label": "Button 3 Richtext"
    },
    {
      "type": "text",
      "id": "button3_heading",
      "label": "Button 3 Heading"
    },
    {
      "type": "text",
      "id": "button3_button1_text",
      "label": "Button 3 Button 1 Text"
    },
    {
      "type": "text",
      "id": "button3_button2_text",
      "label": "Button 3 Button 2 Text"
    },
    {
      "type": "text",
      "id": "button3_bottom_text",
      "label": "Button 3 Bottom Text"
    }
  ],
  "presets": [
    {
      "name": "Media Page"
    }
  ]
}
{% endschema %}
