{{ section.settings.liquid_mobile_title }}

<div
  style='display: flex; background-image: url("{{ section.settings.banner | image_url }}");'
  class='twcss-items-center twcss-relative twcss-w-full twcss-h-[250px] md:twcss-h-[300px] twcss-bg-cover twcss-bg-center twcss-brightness-120'
>
  {% comment %} overlay {% endcomment %}
  <div style='display: block;' class='twcss-absolute twcss-inset-0'></div>
  <div class='twcss-text-center twcss-w-full twcss-text-brandwhite twcss-text-4xl md:twcss-text-6xl'>
    {{ section.settings.text_on_banner }}
  </div>
</div>

{% comment %} clickable image and button {% endcomment %}
<div
  style='{% if section.settings.image_position != "left" %}margin-left: auto; margin-right: auto;{% endif %}'
  class='twcss-relative twcss-w-full twcss-flex twcss-justify-between twcss-max-w-[1600px] twcss-mb-12'
>
  {% unless section.settings.inverse_order %}
    <span class='twcss-font-semibold twcss-text-black twcss-text-2xl md:twcss-text-3xl twcss-px-6 twcss-py-4'>
      {{ section.settings.liquid_desktop_title }}
    </span>
  {% endunless %}

  <a
    style='justify-content: {{ section.settings.image_position }};'
    href='{{ section.settings.cta_link }}'
    class='twcss-relative twcss-w-full twcss-h-full twcss-flex twcss-flex-1'
  >
    <img
      src='{{ section.settings.image | image_url }}'
      style='object-position: {{ section.settings.image_position }};'
      width='500'
      height='500'
      class='twcss-w-4/5 md:twcss-w-[{{ section.settings.image_width }}px] md:twcss-h-[500px] md:twcss-mt-[-150px] twcss-object-contain twcss-aspect-square {% if section.settings.text_on_banner != blank %}twcss-mt-[-35%]{%else%}twcss-mt-[-50%]{% endif %}'
    >
    <span class='btn btn-{{ section.settings.cta_style }} twcss-absolute twcss-left-1/2 twcss-top-1/3 twcss-translate-x-[-50%] md:twcss-top-2/3'>
      {{- section.settings.cta -}}
    </span>
  </a>

  {% if section.settings.inverse_order %}
    <span class='twcss-font-semibold twcss-text-black twcss-text-2xl md:twcss-text-3xl twcss-px-6 twcss-py-4'>
      {{ section.settings.liquid_desktop_title }}
    </span>
  {% endif %}
</div>

{% schema %}
{
  "name": "Parallax",
  "tag": "section",
  "class": "steelmonks-parallax",
  "presets": [
    {
      "name": "Parallax"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "cta",
      "label": "CTA",
      "default": "Geschenke für Paare"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link"
    },
    {
      "type": "select",
      "id": "cta_style",
      "label": "CTA Style",
      "options": [
        { "value": "primary", "label": "Primary" },
        { "value": "secondary", "label": "Secondary" },
        { "value": "red", "label": "Red" }
      ],
      "default": "primary"
    },
    {
      "type": "richtext",
      "id": "liquid_mobile_title",
      "label": "Mobile Title"
    },
    {
      "type": "richtext",
      "id": "liquid_desktop_title",
      "label": "Desktop Title"
    },
    {
      "type": "checkbox",
      "id": "inverse_order",
      "label": "Inverse Order",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image Position",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "right", "label": "Right" },
        { "value": "center", "label": "Center" }
      ],
      "default": "center"
    },
    {
      "type": "number",
      "id": "image_width",
      "label": "Image Width (px)",
      "default": 500
    },
    {
      "type": "richtext",
      "id": "text_on_banner",
      "label": "Text on Banner",
      "default": "<p>Jubiläumsgeschenke, Firmenschilder und Objektbeschilderung</p>"
    },
    {
      "type": "image_picker",
      "id": "banner",
      "label": "Banner"
    }
  ]
}
{% endschema %}
