{{ section.settings.liquid_mobile_title }}

<div
  style='display: block; background-image: url("https://cdn.shopify.com/s/files/1/0472/6420/2901/files/web-gift-banner.webp?v=1742808272");'
  class='twcss-bg-fixed twcss-relative twcss-w-full twcss-h-[250px] md:twcss-h-[300px] twcss-bg-cover twcss-bg-center twcss-brightness-120'
>
  {% comment %} overlay {% endcomment %}
  <div style='display: block;' class='twcss-absolute twcss-inset-0 twcss-bg-brandwhite twcss-opacity-25'></div>
</div>

{% comment %} clickable image and button {% endcomment %}
<div class='twcss-relative twcss-w-full twcss-flex twcss-justify-between twcss-max-w-[1600px] twcss-mb-12'>
  {% unless section.settings.inverse_order %}
    {{ section.settings.liquid_desktop_title }}
  {% endunless %}

  <a
    href='/collections/geschenke-fur-paare'
    class='twcss-relative twcss-w-full twcss-h-full twcss-flex twcss-justify-center twcss-flex-1'
  >
    <img
      src='{{ section.settings.image | image_url}}'
      width='500'
      height='500'
      class='twcss-mt-[-50%] twcss-w-4/5 md:twcss-w-[500px] md:twcss-h-[500px] md:twcss-mt-[-150px]'
    >
    <span class='btn btn-primary twcss-absolute twcss-left-1/2 twcss-top-1/3 twcss-translate-x-[-50%] md:twcss-top-2/3'>
      {{- section.settings.cta -}}
    </span>
  </a>

  {% if section.settings.inverse_order %}
    {{ section.settings.liquid_desktop_title }}
  {% endif %}
</div>

{% schema %}
{
  "name": "Parallax",
  "tag": "section",
  "class": "steelmonks-parallax",
  "presets": [
    {
      "name": "Parallax"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "cta",
      "label": "CTA",
      "default": "Geschenke für Paare"
    },
    {
      "type": "liquid",
      "id": "liquid_mobile_title",
      "label": "Mobile Title"
    },
    {
      "type": "liquid",
      "id": "liquid_desktop_title",
      "label": "Desktop Title"
    },
    {
      "type": "checkbox",
      "id": "inverse_order",
      "label": "Inverse Order",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}
