{{ 'steelmonks-section-parallax-with-overlay.css' | asset_url | stylesheet_tag }}

<style>
  .spwo-parallax {
    /* The image used */
    {% if section.settings.banner_image != blank %}
      background-image: url({{ section.settings.banner_image | image_url }});
    {% else %}
      background-image: url('https://cdn.shopify.com/s/files/1/0472/6420/2901/files/Banner-1_1.webp?v=1698322046');
    {% endif %}
  }

  @media (max-width: 768px) {
    .spwo-parallax {
      {% if section.settings.mobile_banner_image != blank %}
        background-image: url({{ section.settings.mobile_banner_image | image_url }});
      {% else %}
        background-image: url('https://cdn.shopify.com/s/files/1/0472/6420/2901/files/Banner-1_1-mobile.jpg?v=1741341065');
      {% endif %}
    }
  }

  /* Add overlay */
  .spwo-parallax::before {
    background-color: {{ section.settings.banner_overlay_color | color_modify: 'alpha', section.settings.banner_overlay_color_alpha }};
  }

  {% if section.settings.row_reverse %}
    .spwo-content > div {
      flex-direction: row-reverse;
    }
  {% endif %}
</style>

{% if request.design_mode and section.settings.overlaying_button_url == blank %}
  <h3 style="color: #04c">Warning: No button URL set (only you can see this)</h3>
{% endif %}

<!-- Container element -->
<div class="spwo-parallax">
  <h2>
    {{ section.settings.banner_heading }}
  </h2>
</div>

<article class="spwo-content">
  <div>
    <a style="position: relative;" href="{{ section.settings.overlaying_button_url }}">
      <img
        {% if section.settings.overlaying_image == blank %}
          src="/cdn/shop/files/web-monogram-family.webp?v=1740560328"
        {% else %}
          src="{{ section.settings.overlaying_image | image_url }}"
        {% endif %}
        alt=""
        width="500px"
        height="500px"
      >
      {% if section.settings.overlaying_button_url != blank %}
        <span href="{{ section.settings.overlaying_button_url }}" class="btn btn--primary btn--big spwo-button">
          {{ section.settings.overlaying_button_text }}
        </span>
      {% endif %}
    </a>
    {% if section.settings.desktop_title_overwrite != blank %}
      {{ section.settings.desktop_title_overwrite }}
    {% elsif section.settings.desktop_title != blank %}
      <h2 class="desktop-only">{{ section.settings.desktop_title }}</h2>
    {% endif %}
  </div>
</article>

{% schema %}
{
  "name": "Parallax & Content",
  "class": "spwo",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_banner_image",
      "label": "Mobile Banner Image"
    },
    {
      "type": "text",
      "id": "banner_heading",
      "label": "Heading on Banner"
    },
    {
      "type": "text",
      "id": "banner_subtitle",
      "label": "Subtitle on Banner"
    },
    {
      "type": "richtext",
      "id": "banner_text",
      "label": "Text on Banner"
    },
    {
      "type": "checkbox",
      "id": "row_reverse",
      "label": "Reverse Content Order",
      "default": true
    },
    {
      "type": "color",
      "id": "banner_overlay_color",
      "label": "Overlay Color",
      "default": "#fafaff"
    },
    {
      "type": "range",
      "id": "banner_overlay_color_alpha",
      "label": "Overlay Color Alpha",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.2,
      "info": "0 = transparent, 1 = solid"
    },
    {
      "type": "image_picker",
      "id": "overlaying_image",
      "label": "Overlaying Image"
    },
    {
      "type": "richtext",
      "id": "desktop_title",
      "label": "Desktop Title"
    },
    {
      "type": "liquid",
      "id": "desktop_title_overwrite",
      "label": "Desktop Title Overwrite"
    },
    {
      "type": "richtext",
      "id": "mobile_title",
      "label": "Mobile Title"
    },
    {
      "type": "liquid",
      "id": "mobile_title_overwrite",
      "label": "Mobile Title Overwrite"
    },
    {
      "type": "text",
      "id": "overlaying_button_text",
      "label": "Overlaying Button Text",
      "default": "Jetzt bestellen"
    },
    {
      "type": "url",
      "id": "overlaying_button_url",
      "label": "Overlaying Button URL",
      "info": "Leave blank to disable button"
    }
  ],
  "presets": [
    {
      "name": "Parallax & Content"
    }
  ]
}
{% endschema %}
